@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&family=Spartan&display=swap');
// * {
//   margin: 0;
//   padding: 0;
// }

html {
  background: #eeeeee;
  min-height: 100vh;
}

body {
  margin: 0px;
  min-height: 100vh;
}
